*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrapper {
	width:1200px;
	margin-left: 100px;
	}

.wraper__img {
	height: 580px;
	width: 870px;
	border: 3px solid red;
	float: left;
}

.wrapper__text {
	font-family: Muli-Bold;
	src: url('../fonts/Muli-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
	color: red;
	background-color: yellow;
}

.clip-path {
	clip-path: polygon(28% 0, 40% 20%, 57% 43%, 75% 70%, 83% 100%, 50% 100%, 21% 100%, 0 100%, 0% 35%, 0 0);
	background-color: red;
	height: 580px;
	width: 870px;
	float: left;
	shape-outside: polygon(28% 0, 40% 20%, 57% 43%, 75% 70%, 83% 100%, 50% 100%, 21% 100%, 0 100%, 0% 35%, 0 0);
}