@font-face {
	font-family: Muli;
	src: url('../fonts/Muli-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: Muli;
	src: url('../fonts/Muli-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: Muli;
	src: url('../fonts/Muli-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-display: swap;
}

@font-face {
	font-family: Muli;
	src: url('../fonts/Muli-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: Muli;
	src: url('../fonts/Muli-Regular.woff') format('woff');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: Muli;
	src: url('../fonts/Muli-Semi-BoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

body {
	font-family: Muli, sans-serif;
	color: #fff;
}

ul {
	list-style: none;
}


a {
	text-decoration: none;
	color: inherit;
}

button {
	color: inherit;
	background-color: transparent;
	border: none;
}

.header {
	background-image: url(../images/header.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	position: relative;
}

.container {
	max-width: 1720px;
	margin: 0 auto;
	padding: 0 5px;
}

.header__top {
	padding-top: 84px;
	margin-bottom: 120px;
}

.header__logo {
	position: absolute;
	top: 70px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

.navigation {
	display: flex;
	justify-content: space-between;
}

.header__nav {
	display: flex;
	justify-content: space-between;
}

.burger {
	display: none;
	position: fixed;
	top: 30px;
	left: 20px;
}

.burger__img {
	width: 30px;
}

.header__content {
	display: flex;
	justify-content: center;
}

.nav__list {
	display: flex;
	justify-content: flex-start;
	gap: 32px;
}

.nav__link {
	font-size: 16px;
	line-height: 40px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.02em;
}

.header__box {
	display: flex;
	justify-content: right;
	align-items: center;
}

.personal {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 45px;
}

.personal__item:last-child {
	position: relative;
}

.personal__counter {
	text-align: center;
	width: 20px;
	height: 20px;
	position: absolute;
	top: -15px;
	right: -14px;
	color: black;
	background-color: #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.header__social {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.header__social::before {
	content: "";
	width: 50px;
	height: 2px;
	background-color: #f1cf89;
	position: absolute;
	top: 70%;
	left: 60px;
}

.social {
	padding-left: 135px;
	position: relative;
}

.social__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 38px;
	height: 38px;
	background-color: #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}


.header__btn {
	display: flex;
	text-decoration: none;
	font-weight: 800;
	font-size: 24px;
	max-width: 280px;
	width: 100%;
	height: 70px;
	border: none;
	border-radius: 35px;
	background-color: #0aa566;
	line-height: 1.2;
	letter-spacing: -0.48px;
	align-items: center;
	padding-left: 45px;
	position: relative;
	transition: 2s;
	-webkit-transition: 2s;
	-moz-transition: 2s;
	-ms-transition: 2s;
	-o-transition: 2s;
}

.header__btn::after {
	content: '';
	width: 30px;
	height: 15px;
	position: absolute;
	background-image: url(../images/arrow.png);
	top: 40%;
	right: 40px;
}

.header__btn:hover {
	transform: scale(1.2);
} 

.smoothies {
	padding: 100px 0 110px;
}

.title {
	font-size: 50px;
	line-height: 40px;
	font-weight: 800;
	letter-spacing: -0.02em;

}

.title--orange {
	color: #f7ae3b;
}

.smoothies__title {
	text-align: center;
	margin-bottom: 45px;
}

.smoothies__text {
	max-width: 940px;
	text-align: center;
	margin: 0 auto 60px;
}

.text {
	font-size: 18px;
	line-height: 35px;
}

.text--black {
	color: #1e1e1e;
}

.smoothies__cards {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 0 25%;
	flex-wrap: wrap;
	max-width: 1020px;
	margin: 0 auto;
}

.smoothies__item {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	width: 252px;
	height: 190px;
	background-color: #fff;
	padding-top: 27px;
}

.smoothies__item:nth-child(-n+8) {
	border-right: 2px solid #f6edde;
}

.smoothies__item:nth-child(-n+4) {
	border-bottom: 2px solid #f6edde;
}

.smoothies__item:nth-child(4),
.smoothies__item:last-child {
	border-right: none;
}

.smoothies__discr {
	font-size: 25px;
	line-height: 40px;
	font-weight: 800;
	letter-spacing: -0.02em;
	color: #f2612d;
	margin: 24px 0 50px 0;
}

.about {
	background-color: #127f72;
	padding-left: 143px;
	max-height: 800px;
}

.about__wraper {
	display: flex;
}

.about__img {
	width: 691px;
	height: 818px;
	transform: translateY(63px);
	-webkit-transform: translateY(63px);
	-moz-transform: translateY(63px);
	-ms-transform: translateY(63px);
	-o-transform: translateY(63px);
}

.about__content {
	margin-left: 120px;
	max-width: 615px;
	width: 100%;
}

.about__title {
	font-size: 55px;
	line-height: 60px;
	margin-top: 90px;
	margin-bottom: 55px;
}

.about__title--green {
	color: #cae941;
	position: relative;
}

.about__title--green::after {
	content: '';
	display: block;
	width: 450px;
	height: 13px;
	left: -10px;
	top: 60px;
	background-image: url(../images/line.png);
	position: absolute;
}

.about__list {
	margin-bottom: 55px;
	margin-left: 25px;
	list-style-image: url(../images/slaid.png);
}

.about__item {
	font-size: 21px;
	line-height: 22px;
	margin-bottom: 21px;
}

.about__item--bold {
	font-weight: 800;
}

.about__btn {
	position: relative;
	width: 100%;
	max-width: 382px;
	height: 60px;
	border-radius: 30px;
	border: 2px solid #f8b231;
	text-indent: -70px;
	font-family: Muli;
	font-size: 20px;
	font-weight: 800;
	

}

.about__btn::after {
	content: '';
	width: 30px;
	height: 15px;
	position: absolute;
	background-image: url(../images/arrow.png);
	top: 40%;
	right: 40px;
}

.title--green {
	color: #cae941;
}

.products__wrapper {
	display: flex;
	height: 720px;
}

.products__item {
	display: flex;
	align-items: center;
	flex-grow: 1;
	min-width: 480px;
	max-width: 100%;
	flex-direction: column;
	justify-content: center;
	padding: 130px 0 80px;
	overflow-x: auto;
}

.products__item--orange {
	background-color: #662a13;
}

.products__item--green {
	background-color: #198672;
}

.products__item--yellow {
	background-color: #f8b03b;
}

.products__item--red {
	background-color: #c3491b;
}

.products__text {
	font-size: 21px;
	line-height: 32px;
	font-style: italic;
	margin-bottom: 55px;
}

.products__img {
	margin-bottom: 25px;
}

.products__title {
	font-size: 24px;
	line-height: 22px;
	font-weight: 700;
	margin-bottom: 10px;
}

.products__btn {
	position: relative;
	text-indent: -90px;
	width: 100%;
	max-width: 210px;
	height: 60px;
	font-family: Muli;
	font-weight: 700;
	font-size: 21px;
	border-radius: 30px;
	border: 2px solid #fff;
	}

.products__btn::after {
	content: '';
	width: 30px;
	height: 16px;
	position: absolute;
	top: 40%;
	right: 40px;
	background-image: url(../images/arrow-white.png);
}

.story__wrap {
	display: flex;
	padding: 120px 0 160px;
	position: relative;
}

.story__wrap::after {
	content: '';
	position: absolute;
	top: 800px;
	right: 50px;
	background-image: url(../images/dots.png);
	width: 410px;
	height: 301px;
}

.story__content {
	margin: 130px 200px 0px 310px;
}

.story__title {
	margin-bottom: 40px;
}

.story__text {
	max-width: 510px;
	margin-bottom: 50px;
}

.story__box {
	position: relative;
}

.story__box::after {
	content: '';
	position: absolute;
	top: 25px;
	left: -165px;
	background-image: url(../images/stamp.png);
	display: block;
	width: 290px;
	height: 219px;
}

.story__btn {
	display: flex;
	align-items: center;
	padding-left: 30px;
	text-decoration: none;
	font-weight: 700;
	font-size: 21px;
	max-width: 304px;
	width: 100%;
	height: 60px;
	border-radius: 30px;
	background-color: #0aa566;
	position: relative;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

.story__btn::after {
	content: '';
	width: 30px;
	height: 15px;
	position: absolute;
	background-image: url(../images/arrow.png);
	top: 40%;
	right: 45px;
}

.testimonials {
	background-color: #672d1d;
	padding: 105px ;
	height: 720px;
}

.testimonials__title {
	text-align: center;
	margin-bottom: 130px;
	position: relative;
}

.testimonials__word {
	color: #f2612d;
}

.testimonials__review {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 120px;
	position: relative;
}

.testimonials__review::after {
	content: 'Sarah A';
	font-weight: 800;
	position: absolute;
	top: -80px;
	left: 315px;
	font-size: 200px;
	color: #5a200f;
	}

.testimonials__box {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 470px;
	margin-right: 50px;
	padding-top: 55px;
	z-index: 10;
}

.testimonials__info {
	margin-bottom: 5px;
	font-size: 18px;
	line-height: 35px;
}

.testimonials__cite {
	line-height: 45px;
	font-size: 17px;
	font-weight: 600;
	font-style: italic;
	color: #f7ae3b;
}

.testimonials__img {
	z-index: 1;
}

.testimonials__wrap {
	display: flex;
	justify-content: center;
	gap: 90px;
	top: 5px;
	}

.testmonials__btn {
	width: 30px;
	height: 16px;
	background-image: url(../images/arrow.png);
}

.btn--left {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

.blog {
	padding: 100px 0;
}

.blog__wrap {
	display: flex;
	margin-left: 255px;
	height: 580px;
}

.blog__title {
	margin-bottom: 50px;
}

.blog__textbox {
	margin-top: 210px;
	position: relative;
}

.blog__textbox::after {
	content: '';
	width: 645px;
	height: 15px;
	top: -50px;
	background-color: #f7ae3b;
	position: absolute;
	border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	-ms-border-radius: 0 10px 10px 0;
	-o-border-radius: 0 10px 10px 0;
}

.blog__subtitle {
	font-size: 30px;
	font-weight: 800;
	letter-spacing: -0.02em;
	color: #f2612d;
	margin-left: 65px;
}

.blog__time {
	font-size: 16px;
	line-height: 35px;
	font-weight: 400;
	color: #1e1e1e;
	margin-left: 65px;
}

.blog__text {

	max-width: 472px;
	margin-left: 125px;
	margin-top: 30px;
}

.blog__link {
	text-decoration: none;
	position: relative;
}

.blog__link::after {
	content: "";
	background-image: url(./../images/arrow.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 5px;
	left: 95px;
}

.blog__strong {
	font-family: Muli-BoldItalic;
	font-style: italic;
}

.instagram_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5px;
	/* width: 1920px; */

}

.instagram__title-list {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.instagram__title {
	font-size: 24px;
	color: #0aa566;
	margin-bottom: 45px;
	position: relative;
}

.instagram__title::before {
	content: "";
	background-image: url(../images/icon.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	left: -35px;
	top: 8px;
}

.instagram__galery {
	display: flex;
	margin-bottom: 10px;
}

.instagram__picture {
	position: relative;
}

.instagram__img {
	width: 100%;
}

.instagram__picture::before {
	content: '';
	width: 30px;
	height: 30px;
	background-image: url(../images/icon-insta.png);
	position: absolute;
	background-repeat: no-repeat;
	bottom: 20px;
	right: 20px;
}

.footer {
	background-color: #f4a73e;
	height: 372px;
}

.footer__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	}

.footer__content {
	display: flex;
	justify-content: space-between;
	margin-top: 65px	;
	max-width: 1190px;
	width: 100%;
	}

.footer__info {
	font-size: 18px;
	line-height: 35px;
	font-weight: 700;
	letter-spacing: -0.02em;
	}

.footer__title {
	font-size: 26px;
	align-items: center;
	margin-bottom: 20px;
	justify-content: center;
}

.footer__payment {
	display: flex;
	justify-content: flex-start;
	align-items:flex-start;
	width: 270px;
	height: 270px;
	flex-wrap: wrap;
}

.payment__img {
	margin-bottom: 20px;
	margin-right: 18px;
}

.info__list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 140px;
}

.info__item {
	color: #6d450c;
}

.footer__newletter {
	width: 495px;
	height: 60px;
	margin-top: 35px;
	border-radius: 30px;
	border-style: none;
	background-image: url(../images/convert.png);
	background-repeat: no-repeat;
	background-position: 20px;
	font-weight: 800;
	padding-left: 60px;
	font-size: 18px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

.footer__inner {
	display: flex;
	margin: 50px 0 37px 123px;
	
}

.footer__form-btn {
font-size: 24px;
line-height: 40px;
font-weight: 800;
text-transform: uppercase;
letter-spacing: -0.02em;
color: #6d450c;
margin-bottom: 45px;
position: relative;
}

.footer__form-btn::before {
	content: "";
	background-image: url(../images/arrow-footer.png);
	background-repeat: no-repeat;
	width: 48px;
	height: 43px;	
	position: absolute;
	left: -70px;
	top: -10px;
}

.footer__social {
	display: flex;
	justify-content: space-between;
	gap: 25px;
}

.footer__bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #6d301c;
}

.footer__small {
	font-family: Muli;
	font-size: 13px;
	line-height: 60px;
	font-weight: 400;
	letter-spacing: 0.02em;
	color: #af8a82;
}

.footer__link {
	color: #ffffff;
}